<a href="/newsDetail?id={{id}}">
<div class="product-item">
    <div class="product-image">
        <img src="{{image_thumbnail}}" alt="{{name}}">
    </div>
    <div class="product-content">
        <div class="title">{{title}}</div>
        <div class="row justify-content-between">
            <div class="col p-tag-news">
                <p>{{Category.category_name}}</p>
            </div>
            <div class="col p-date-news">
                <p>{{createDay}}</p>
            </div>
        </div>
    </div>
    </div>
</a>
