<li class="list-groupitem">
    <div class="row align-items-center g-2 category-item">
    <div class="col-3">
        <img style="width: 100%; height: 100%;" src="{{Article.image_thumbnail}}"/>
    </div>
    <div class="col-6">
        <a href="/editor/EditorViewPostDetail?articleId={{article_id}}&id={{id}}">
            <h5>{{Article.title}}</h5>
            <p class="mt-0 mb-0"><b>{{Writer.pseudonym}}</b></p>
            <p class="mt-0 mb-0">{{created_at}}</p>
            <p class="mt-0 mb-0">{{briefDescription}}</p>
        </a>
    </div>
    <div class="col-3 button-div">
        <button class="btn btn-danger text-light mb-1" onclick="openReject({{id}})">Từ chối <i class="bi bi-x-circle text-white"></i></button>
        <div class="form-popup" id="rejectform{{id}}">
        <form action="/editor/reject" method="post" onsubmit="reject({{id}})" class="form-container">
            <button type="button" id="rejectBtn{{id}}" onclick="updateRejectReason(event, {{id}})">x</button>
            <h3 class="text-center">Lí do từ chối</h3>
            <!-- <p class="text-center">Thời sự</p> -->
            <label for="reason{{id}}"><b>Nhập lí do ở đây</b></label>
            <input type="text" placeholder="" name="reason{{id}}" id="reason{{id}}"required/>
            <button type="submit" class="btn btn-primary" onclick="closeReject({{id}})">Update</button>
        </form>
        </div>
        <button class="btn btn-success text-light" id="approveBtn{{id}}" onclick="openApprove({{id}})">Duyệt <i class="bi bi-check-circle text-white"></i></button>
        <!-- The form -->
        <div class="form-popup" id="approveForm{{id}}" onsubmit="closeApprove({{id}})">
        <form action="" method="post" class="form-container">
            <button type="button" onclick="closeApprove({{id}})">x</button>
            <h3 class="text-center">Cập nhật thông tin</h3>
            <!-- <p class="text-center">Thời sự</p> -->
            <label for="categories"><b>Chuyên mục</b></label>
            <input type="text" placeholder="" name="categories" id="categories"required/>
            <br/>
            <label for="categories"><b>Tag</b></label>
            <input type="text" placeholder="" name="tag" id="tag" required/>
            <br/>
            <label for="categories"><b>Ngày xuất bản</b></label>
            <input type="text" placeholder="" name="categories" id="categories" required />
            <button type="submit" class="btn btn-primary" onclick="closeApprove({{id}})">Update</button>
        </form>
        </div>

    </div>
    </div>
</li>       