<li class="list-groupitem">
    <div class="row align-items-center g-1 category-item">
    <div class="col-3">
        <img
        src="{{image_thumbnail}}"
        class="img-thumbnail img-fluid rounded float-start"
        alt=""
        style="width: 100%; height: 100%"
        />
    </div>
    <div class="col-7">
        <h5>{{title}}</h5>
        <p><b>{{Category.category_name}}</b></p>
        <p>{{Writer.User.name}}</p>
        <p>{{createDay}}</p>
    </div>
    <div class="col-2 button-div">
        <div class="dropdown open">
        <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="articleStatus{{id}}"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
        >
            {{status}}
        </button>
        <div class="dropdown-menu" aria-labelledby="articleStatus{{id}}">
            {{#if isPublished}}
                <button class="dropdown-item" onclick="updateStatus({{id}}, 'Published')">
                Published
                </button>
            {{else}}
                <button class="dropdown-item" onclick="updateStatus({{id}}, 'Draft')">
                Draft
                </button>
                <button class="dropdown-item" onclick="updateStatus({{id}}, 'Published')">
                Published
                </button>
            {{/if}}
        </div>
        </div>
    </div>
    </div>
</li>

