<li class="list-groupitem">
    <div class="row align-items-center g-2 category-item">
    <div class="col-7">
        <p class="title-categories text-black"id="tag{{id}}">Tag: {{tag_name}} </p>
    </div>
    <div class="col-5 button-div">
        <button class="btn btn-danger delete" onclick="deleteTag(event, {{id}})">Xóa<i class="bi bi-trash-fill text-white"></i></button>
        <button class="btn btn-warning text-light" onclick="openEditTag({{id}})">Sửa <i class="bi bi-pencil text-white"></i></button>
        <!-- The form -->
        <div class="form-popup" id="editTagForm{{id}}">
        <form action="/admin/Tag/edit" method="post" class="form-container" onclick="updateTag(event, {{id}})">
            <button type="button" onclick="closeEditTag({{id}})">x</button>
            <h3 class="text-center">Sửa tag</h3>
            <p class="text-center">{{tag_name}}</p>
            <label for="newTag{{id}}"><b>Nhập tên Tag mới</b></label>
            <input type="text" placeholder="" name="newTag{{id}}" id="newTag{{id}}" required />
            <button type="submit" class="btn btn-primary" onclick="closeEditAndChangeTag({{id}})">Sửa</button>
        </form>
        </div>
    </div>
    </div>
</li>