<main>
  <div class="container mt-4">
    <div class="row">
      <div class="col-3">
        <img src="{{user.avatar}}" alt="avt" id="avatar" />
        <h2 class="username mt-2">{{user.name}}</h2>
        <div class="list-group-flush mt-4">
          <a class="list-group-item active bg-dark" href="#">Hồ sơ của tôi</a>
          <a class="list-group-item" href="/users/update-profile">Cập nhật hồ sơ</a>
          <a class="list-group-item" href="/users/change-pass">Thay đổi mật khẩu</a>
          <a class="list-group-item" href="/users/premium">
            <i class="bi bi-bookmark-star-fill text-warning"></i>
            Premium
          </a>
        </div>
      </div>
      <div class="col-1">
        <div class="vl"></div>
      </div>
      <div class="col-7">
        <div class="row">
          <div class="col">
            <h4>Hồ sơ của tôi</h4>
          </div>
          <a class="col" href="/users/update-profile">
            <i class="bi bi-pencil-square float-end fs-4"></i>
          </a>
        </div>
        <ul class="list-group" id="myList">
          <div class="fulname mt-3">
            <span>Tên</span>
            <div
              class="btn-outline-dark btn w-100 text-start none-hover text-secondary"
            >
              {{user.name}}
            </div>
          </div>
          <div class="pseudonym mt-3">
            <span>Bút danh</span>
            <div
              class="btn-outline-dark btn w-100 text-start none-hover text-secondary"
              style="min-height:40px;"
            >
              {{user.username}}
            </div>
          </div>
          <div class="mt-3 email-user">
            <span>Email</span>
            <div
              class="btn-outline-dark btn w-100 text-start none-hover text-secondary"
            >
              {{user.email}}
            </div>
          </div>
          <div class="mt-3 email-user">
            <span>Ngày sinh</span>
            <div
              class="btn-outline-dark btn w-100 text-start none-hover text-secondary"
            >
              {{formatDate user.dob}}
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</main>