<main>
  <div class="container new-detail mt-5">
      {{#with article}}
      <div class="row">
          <div class="col-8">
              <!-- Tags -->
              <a href="/Categories?id={{Category.id}}">
                <p class="fw-bold">{{Category.category_name}}</p>
              </a>
              <p class="heading-title-news-detail">{{title}}</p>
              <div class="row ">
                  <div class="col-1">
                      <div class="vl"></div>
                  </div>
                  <div class="col-11">
                      <ul>
                        {{briefDescription}}
                      </ul>
                  </div>
                  
              </div>
              
          </div>
          <div class="col-4">
              <img src="{{image_thumbnail}}" alt="" class="img-fluid">
          </div>
      </div>

      <p>{{description}}</p>
      {{#each Images}}
        <img src="{{imagePath}}" alt="" class="d-block mx-auto"/>
        <p>
          {{description}}
        </p>
        <br>
      {{/each}}
      </div>
      <div class="row">
          <div class="col">
            <p class="p-tag-news">{{Writer.User.name}}</p>
          </div>
          <div class="col">
            <p class="p-date-news">{{createDay}}</p>
          </div>
      </div>
      
      <!-- tin cung chuyen muc -->
      <div class="container relevant-news-container">
          <div class="title-relevant-news">
              <div class="shape-title-relevant-news"></div>
              <h4>Tin cung chuyen muc</h4>
          </div>
          <div class="row align-items-center product-slider product-slider-4">
              {{#each featuredProducts}}
              <div class="col-lg-3">
                  {{> carousel-article2}}
              </div>
              {{/each}}
          </div>
      <!-- tags -->
      <p>Tags: 
        {{#each Tags}}
          <a href="/TagPost?id={{id}}"><span class="ml-1 mr-1">{{tag_name}} /</span></a>
        {{/each}}
      </p>
  </div>
  <!-- binh luan -->
  <div class="container comment-container">
    <h4>Binh Luan</h4>
    {{!-- {{#if isLoggedIn}} --}}
    <form action="/newsDetail/comment" method="post" onSubmit="addItem(event)">
      <div class="row">
        <div class="col-10 mb-3">
          <input type="text" class="form-control" placeholder="" required name="comment" id="comment" aria-describedby="helpId"/>
          <input type="hidden" name="article_id" value="{{id}}">
          <input type="hidden" name="user_id" value="1">
        </div>
        <div class="col-1">
            <button class="btn btn-primary">Comment</button>
        </div>
      </div>
    </form>
    {{#if done}}
    {{/if}}
    {{/with}}
    {{!-- {{/if}} --}}
    <ul class="list-group" id="myList">
      {{#each comments}}
        {{> comment}}
      {{/each}}
    </ul>
  </div>
</main>

<script src="../javascript/newsDetail.js"></script>